@tailwind base;
@tailwind components;
@tailwind utilities;


a:hover {
    color: #ffffffb4;
    cursor: pointer;
    
}

.title {
    @media (max-width: 400px), (max-width: 1023px) {
        display: none;
    }
    @media (min-width: 1066px) {
        padding-right: 1rem;
    }

           
}

.logo {
    @media (max-width: 874px) {
        display: none;        

    }
 
}

.linkNav {
    @media (min-width: 486px) {
        font-size: 0.95rem;
    }
    @media (min-width: 536px) {
        font-size: 1.05rem;
    }
    @media (min-width: 600px) {
        font-size: 1.15rem;
    }
    @media (min-width: 690px) {
        font-size: 1.25rem;
    }
        
}

/*--------------Redes------------------*/
.redes:hover {
    transform: scale(1.2);
}

.iconHtml:hover {
    color: #e34c26;
    transform: scale(1.2);
}

.iconJava:hover {
    color: #5382a1;
    transform: scale(1.2);
}

.iconCss:hover {
    color: #264de4;
    transform: scale(1.2);
}

.iconPy:hover {
    color: #ceb225;
    transform: scale(1.2);

}

.iconHtml:hover {
    color: #e34c26;
    transform: scale(1.2);

}
.iconJS:hover {
    color: #c9bd6f;
    transform: scale(1.2);

}

.iconDj:hover {
    color: #092e20;
    transform: scale(1.2);
}

.iconReact:hover {
    color: #61dafb;
    transform: scale(1.2);
}

.iconTw:hover {
    color: #1da1f2;
    transform: scale(1.2);
}

.iconMysql:hover {
    color: #00758f;
    transform: scale(1.2);
}

/*-------Formación -----------------*/

img:hover {
    transform: scale(1.2);
}

/*---------------Proyectos------------*/
a:hover {
    transform: scale(1.2);
}

/*-----------------------------Contactos-----------*/
.span {
    display: flex;
    padding-left: 1rem;
    font-size: 16px;

}

.asunto {
    padding-left: 13rem;
}